#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

ul {
  list-style: none;
}

nav ul {
  /* list-style: none; */
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.card {
  padding: 2em;
  border: 1px solid blue;
}

.read-the-docs {
  color: #888;
}

.bold {
  font-weight: 700;
}

.red-colored {
  color: red;
}

button.active {
  background-color: blue;
  color: white;
}
